<div class="row mb-4 mt-4">
    <div class="container-fluid d-flex justify-content-between align-items-center">
        <h4 class="content-header ps-3">Departments</h4>
        <img src="/images/plus-square-svgrepo-com.svg" class="plus-square-icon pe-2 btn"/>
    </div>
</div>
<div id="departmentsLoader"></div>