@model DepartmrentDto;
@{
    Layout = null;
}
<partial name="_ValidationScriptsPartial" />
<form id="updateDepartmentForm">
    <div class="modal fade" id="updateDepartmentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="updateDepartmentModalLabel">Update New Department</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid p-0">
                        <div class="form-floating mb-3">
                            <input type="hidden" asp-for="Id" />
                            <input type="text" class="form-control" id="updateDepartmentNameField" asp-for="Name"
                                placeholder="Department" />
                            <label for="updateDepartmentNameField">Name*</label>
                            <span asp-validation-for="Name" class="text-danger pt-1"></span>
                        </div>
                        <div class="form-floating">
                            <textarea class="form-control" id="updateDepartmentDescriptionField" placeholder="Description"
                                asp-for="Description"></textarea>
                            <label for="updateDepartmentDescriptionField">Description</label>
                        </div>
                    </div>
                    <div class="modal-footer pe-0">
                        <button type="submit" class="btn yes-btn" id="updateDepartmentSaveBtn">Save</button>
                        <button type="button" class="btn no-btn" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
</form>

<script>
    $(document).ready(function () {
        $("#updateDepartmentDescriptionField").rules("remove", "required")
        $('#updateDepartmentForm').on('submit', function (e) {
            e.preventDefault();
            if ($(this).valid()) {
                $.ajax({
                    url: '@Url.Action("UpdateDepartment", "EmployeesAndDepartments")',
                    type: 'POST',
                    data: $('#updateDepartmentForm').serialize(),
                    success: function (response) {
                        if (response.messageType=='success') {
                            $("#updateDepartmentModal").modal("hide");
                            toastr.success(response?.toastMessage);
                        }
                        else if(response.messageType=='error')
                        {
                            toastr.error(response.toastMessage);
                        }
                        loadDepartments();
                    },
                    error: function (xhr, status, error) {
                        toastr.error(error);
                        console.error('AJAX error: ' + status + ' ' + error);
                    }
                });
            }
        });
    });
</script>
