@{
    ViewData["title"] = "Employees And Departments";
}
<link rel="stylesheet" href="~/css/employeesAndDepartments.css" asp-append-version="true" />
<div class="row mt-3 ps-3">
    <div class="container-fluid">
        <h1 class="content-header">Employees</h1>
    </div>
</div>

<div class="row mt-2 pt-3">
    <div class="container-fluid">
        <div class="row gap-2">
            <div class="col-xl-3 col-lg-4 departments-col">
                <div class="container-fluid container-departments" id="departmentsAndEmployeesDepartmentsContainer">
                </div>
            </div>
            <div class="col employees-col pt-4 pe-3">
                <div class="container-fluid employees-container">
                    <div id="departmentsAndEmployeesEmployeesListContainer"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="modalLoader"></div>
</div>
@section Scripts
{
    <script src="~/js/employeesAndDepartments.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            loadDepartmentsContainer();
            loadEmployeesContainer();
        });
    </script>
}