.dashboard-cards-first-row {
    border-radius: 8px;
  }

  .slight-box-shadow-style {
    box-shadow: 0 0 7px rgb(46, 10, 125,0.3);
    border-radius: 8px;
  }

  .chart-inside-icon {
    height: 15px;
    width: 60px;
    background-color: rgb(46, 10, 125,0.2);
    border: 2px solid #2e0a7d;
  }

  #timeWiseEmployeeChart{
    max-height: 260px;
    max-width: 1017px;
  }

  #genderWiseEmployeeChart{
    height: 260px;
  }

  #ageWiseEmployeeChart{
    height: 260px;
  }

  #myProfileCancelBtn{
    text-decoration: none;
  }

  #dashboardLoader{
    position: fixed;
    top: 56px;
    left: 250px;
    height: 100%;
    width: 1630px;
    background: rgba(255, 255, 255, 0.7);
    z-index: 2;
    justify-content: center;
    align-items: center;
  }