@model ChangePasswordDto
@{
    ViewData["Title"] = "Change Password";
    var mesage = TempData["toastMessage"];
    var type=TempData["messageType"];
}
<div class="container mt-5 changepassword-container px-4 py-3">
    <h2 class="mb-4 text-center">Change Password</h2>

    <form method="post" asp-action="ChangePassword" asp-controller="Home">
        <div class="form-floating mb-3">
            <div>
                <div class="form-floating input-group" id="changePasswordCurrentPasswordDiv">
                    <input type="hidden" asp-for="Id">
                    <input type="password" class="form-control password border-end-0" asp-for="CurrentPassword"
                        id="changePasswordCurrentPassword" placeholder="Password"
                        onfocus="highlightDiv('changePasswordCurrentPasswordDiv')"
                        onblur="removeHighlightDiv('changePasswordCurrentPasswordDiv')">
                    <label for="changePasswordCurrentPassword" class="form-label" style="z-index: 4;">Current Password*</label>
                    <div class="input-group-append " id="eyeImgIconDiv">
                        <span class="input-group-text eye-img-icon-span-reguler">
                            <img src="/images/eye-slash-fill.svg" style="height: 20px;width: 20px;" id="passwordEyeIconCurrentPassword"
                                onclick="changeEyeIcon('changePasswordCurrentPassword','passwordEyeIconCurrentPassword')">
                        </span>
                    </div>
                </div>
                <span class="text-danger" asp-validation-for="CurrentPassword"></span>
            </div>
        </div>

        <div class="form-floating mb-3 position-relative">
            <div>
                <div class="form-floating input-group" id="changePasswordNewPasswordDiv">
                    <input type="password" class="form-control password border-end-0" asp-for="NewPassword"
                        id="changePasswordNewPassword" placeholder="Password"
                        onfocus="highlightDiv('changePasswordNewPasswordDiv')"
                        onblur="removeHighlightDiv('changePasswordNewPasswordDiv')">
                    <label for="changePasswordNewPassword" class="form-label" style="z-index: 4;">New Password*</label>
                    <div class="input-group-append " id="eyeImgIconDiv">
                        <span class="input-group-text eye-img-icon-span-reguler">
                            <img src="/images/eye-slash-fill.svg" style="height: 20px;width: 20px;" id="passwordEyeIconNewPassword"
                                onclick="changeEyeIcon('changePasswordNewPassword','passwordEyeIconNewPassword')">
                        </span>
                    </div>
                </div>
                <span class="text-danger" asp-validation-for="NewPassword"></span>
            </div>
        </div>

        <div class="form-floating mb-4 position-relative">
            <div>
                <div class="form-floating input-group" id="changePasswordConfirmNewPasswordDiv">
                    <input type="password" class="form-control password border-end-0" asp-for="ConfirmNewPassword"
                        id="changePasswordConfirmNewPassword" placeholder="Password"
                        onfocus="highlightDiv('changePasswordConfirmNewPasswordDiv')"
                        onblur="removeHighlightDiv('changePasswordConfirmNewPasswordDiv')">
                    <label for="changePasswordConfirmNewPassword" class="form-label" style="z-index: 4;">Confirm New Password*</label>
                    <div class="input-group-append " id="eyeImgIconDiv">
                        <span class="input-group-text eye-img-icon-span-reguler">
                            <img src="/images/eye-slash-fill.svg" style="height: 20px;width: 20px;" id="passwordEyeIconConfirmNewPassword"
                                onclick="changeEyeIcon('changePasswordConfirmNewPassword','passwordEyeIconConfirmNewPassword')">
                        </span>
                    </div>
                </div>
                <span class="text-danger" asp-validation-for="ConfirmNewPassword"></span>
            </div>
        </div>

        <button type="submit" class="btn yes-btn w-100">Update Password</button>
    </form>
</div>

<script>
    $(document).ready(function () {
        toastr.options = {
            closeButton: true,
            progressBar: true,
            positionClass: "toast-top-right",
            timeOut: 5000,
        };
        if ("@mesage" != "") {
            if ("@type" == "success") {
                toastr.success("@mesage");
            }
            else {
                toastr.error("@mesage");
            }
        }
    });
</script>
