@{
    ViewData["Title"] = "Dashboard";
    var mesage = TempData["toastMessage"];
    var type = TempData["messageType"];
}
<link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
<div id="dashboardLoader">
    <div class="d-flex align-items-center h-100 justify-content-center">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-12">
        <div class="container-fluid d-flex justify-content-between align-items-center p-0">
            <div>
                <h1 class="content-header">Dashboard</h1>
            </div>
            <div>
                <div class="container-fluid p-0">
                    <div class="form-floating">
                        <select class="form-select pt-2" id="dashboardSelectTimeField" style="height: 40px;"
                            aria-label="Floating label select example">
                            <option selected value="1" style="color:#212529">All Time</option>
                            <option value="2" style="color:#212529">Last 7 Days</option>
                            <option value="3" style="color:#212529">Last 30 Days</option>
                            <option value="4" style="color:#212529">Current Month</option>
                            <option value="5" style="color:#212529">Custom Date</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row pt-3">
    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12 pb-3">
        <div class="container-fluid bg-white pb-3 pt-2 ps-3 dashboard-cards-first-row slight-box-shadow-style">
            <div class="row">
                <div class="container-fluid">
                    <div>
                        <h5>Timewise Employee</h5>
                    </div>
                </div>
            </div>
            <div class="row py-1">
                <div class="container-fluid d-flex align-items-center justify-content-center">
                    <div class="chart-inside-icon"></div>
                    <span class="ps-1">Employee</span>
                </div>
            </div>
            <div class="row">
                <div class="container-fluid">
                    <canvas id="timeWiseEmployeeChart" class="dashboardGraphs"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 pb-3">
        <div class="container-fluid bg-white pb-3 pt-2 ps-3 dashboard-cards-first-row slight-box-shadow-style h-100">
            <div class="row">
                <div class="container-fluid">
                    <div>
                        <h5>Genderwise Employee</h5>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="container-fluid pt-3">
                    <canvas id="genderWiseEmployeeChart" class="dashboardGraphs"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row pt-3">
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 pb-3">
        <div class="container-fluid bg-white pb-3 pt-2 ps-3 dashboard-cards-first-row slight-box-shadow-style h-100">
            <div class="row">
                <div class="container-fluid">
                    <div>
                        <h5>Agewise Employee</h5>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="container-fluid pt-3">
                    <canvas id="ageWiseEmployeeChart" class="dashboardGraphs"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 pb-3">
        <div class="container-fluid bg-white pb-3 pt-2 ps-3 dashboard-cards-first-row slight-box-shadow-style h-100">
            <div class="row">
                <div class="container-fluid">
                    <div>
                        <h5>Departmentwise Employee</h5>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="container-fluid pt-3">
                    <canvas id="departmentWiseEmployeeChart" class="dashboardGraphs"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 pb-3">
        <div class="container-fluid bg-white pb-3 pt-2 ps-3 dashboard-cards-first-row slight-box-shadow-style h-100">
            <div class="row">
                <div class="container-fluid">
                    <div>
                        <h5>Countrywise Employee</h5>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="container-fluid pt-3">
                    <canvas id="countryWiseEmployeeChart" class="dashboardGraphs"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/home.js" asp-append-version="true"></script>
<script>
    $(document).ready(function () {
        $("#dashboardLoader").show();
        getDashboardData();
        toastr.options = {
            closeButton: true,
            progressBar: true,
            positionClass: "toast-top-right",
            timeOut: 5000,
        };
        if ("@mesage" != "") {
            if ("@type" == "success") {
                toastr.success("@mesage");
            }
            else {
                toastr.error("@mesage");
            }
        }

    });
</script>