@{
    ViewData["title"] = "Employees And Departments";
}
<link rel="stylesheet" href="~/css/leave.css" asp-append-version="true" />
@* <div id="employeesLoader">
    <div class="d-flex align-items-center h-100 justify-content-center">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div> *@
<div class="row mt-3 ps-3">
    <div class="container-fluid">
        <h1 class="content-header">Leave</h1>
    </div>
</div>
